body {
    margin: 0;
    padding: 0;
  }
  
header {
  background-color: #36C3D6;
  margin: 0 auto;
  height: 50px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

main {
  padding-top: 10px;
  padding-bottom: 30px;
}

#board-card {
  margin: auto;
  width: 95%;
  height: 90vh;
  border: 5px solid silver;
  background-size: cover;
}

#board-title-card {
  text-align: center;  
}

#board-title {
  padding: 10px;
  display: inline-block;
  background-color: #F7DD38;
  border: 2px solid #94841f;
}

#goals-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
  