#wrapper {
  display: flex;
}

#left {
  flex: 0 40%;
}

#right {
  flex: 50%;
}

#middle {
  flex: 0 50%;
}

body {
    margin: 0;
    padding: 0;
    background: #B2CCCC;
  }
  
header {
  background-color: #36C3D6;
  margin: 0 auto;
  height: 50px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

main {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* Board Styling: Start */

#board-card {
  margin: auto;
  width: 95%;
  /* height: 90vh; */
  border: 5px solid brown;
  background-size: cover;
}

#board-header {
  position: relative;
  text-align: center;
}

#add-goal-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#board-title-card {
  padding: 0px 10px;
  display: inline-block;
  background-color: chocolate;
  border: 2px solid brown;
  border-radius: 0 0 25px 25px;
}

#board-buttons-card {
  position: absolute;
  top: 10px;
  right: 10px;
}

#notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#board-form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 35%;
  border-radius: 10px;
  border: 5px solid lightskyblue;
  background-color: lightblue;
}

.board-form-input {
  display: inline-flex;
  padding: 5px;
}
/* Board Styling: End */

/* style navbar headers left(placeholder) */
header h2.navli{
  float: left;
}
/* style navbar headers left(placeholder) */
header h2.rightnavli{
  float: right;
}

/* style form toggling buttons and float right */
button.togglebutton {
  font-size: .65em;
  color: #fff;
  background-color: green;
  /* border-radius: 10px; */
  float: right;
  opacity: 0.8;
}
  
* {
  box-sizing: border-box;
  }
  body {
  font-family: Roboto, Helvetica, sans-serif;
  }


/* Styles for the error container */
.error-container {
margin: 0 auto;
width: 300px;
padding: 20px;
background-color: #fff;
}

  /* Position the Popup form */
  .login-popup {
  position: relative;
  text-align: center;
  width: 100%;
  }
  /* Hide the Popup form */
  .form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top:5%;
  transform: translate(-50%,5%);
  border: 2px solid #666;
  z-index: 9;
  }
  /* Styles for the form container */
  .form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  }
  /* Full-width for input fields */
  .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
  }
  /* When the inputs get focus, get shady*/
  .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
  }
  
  /* Style submit/login button */
  .form-container .btn {
  background-color: #8ebf42;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  }
  /* Style cancel button */
  .cancel {
  background-color: #cc0000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 87%;
  margin-bottom:10px;
  margin-left:20px;
  opacity: 0.8;
  }

  /* Style cancel button container */
  .btncontainer {
    background-color: #fff;
  }
  
  /* Hover effects for buttons */
  .form-container .btn:hover, .open-button:hover, .cancel:hover, .togglebutton:hover {
  opacity: 1;
  }

#notes div {
  position: relative;
  width: 300px;
  min-height: 100px;
  margin: 25px auto;
  padding: 60px 15px 15px 15px;
  background: #fff url(https://img.freepik.com/free-vector/start_53876-25533.jpg?size=338&ext=jpg) no-repeat 4px 8px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5);
  box-shadow: 0 1px 2px #000;
  -webkit-transform: rotate(-.5deg);
  -moz-transform: rotate(-.5deg);
  -o-transform: rotate(-.5deg);
}

#notes div:nth-child(even) {
  -webkit-transform: rotate(.5deg);
  -moz-transform: rotate(.5deg);
  -o-transform: rotate(.5deg);
}

/* #notes li.kiln
{
  background-image: url(https://rob.kilnhg.com/Content/Images/kiln_focus.gif);
} */

#notes div p {
  text-align: center;
  font: normal normal normal 24px/32px 'Reenie Beanie', Helvetica, Arial, sans-serif;
  color: #000;
  text-shadow: white 1px 1px 0px;
  overflow:hidden;
}

#notes div h2 {
  text-align: left;
  font: normal normal bold 24px/32px 'Reenie Beanie', Helvetica, Arial, sans-serif;
  color: #000;
  text-shadow: white 1px 1px 0px;
  overflow:hidden;
}

#notes div h4 {
  text-align: left;
  font: normal normal bold 24px/32px 'Reenie Beanie', Helvetica, Arial, sans-serif;
  color: #000;
  text-shadow: white 1px 1px 0px;
  overflow:hidden;
}

#notes div::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 115px;
  top: -15px;
  width: 75px;
  height: 25px;
  z-index: 2;
  background-color: rgba(243,245,228,0.5);
  border: 2px solid rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

#notes div:nth-child(even)::before {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}